<!DOCTYPE html>
<html lang="<%- language -%>">
<head>
<meta charset="utf-8">
<% for (const [key, value] of Object.entries(metadata)) { -%>
<meta name="<%- key -%>" content="<%- value -%>"/>
<% } -%>
<title><%- title -%></title>
<style>
<%- include('default.css.ejs') %>
<%- renderer_css -%>
<% if (custom_css_path) { %>
<%- include(custom_css_path) -%>
<% } %>
</style>
</head>
<body>
<article class="markdown-body">
<%- content %>
</article>
</body>
</html>
